Repository ProjektAlmanac/Amoxtli, pull requests merged in 2023-10, with the labels that each got.

#14 Hu 04 backend
  backend/qodana.yaml
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/Application.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/config/Config.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/UserController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/advice/RestExceptionHandler.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/entity/User.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/BadRequestException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/IdUserNotWorkException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/UnauthenticatedUserException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/api/UsuariosApi.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/UserMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/repository/UserRepository.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/UserService.java
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/serviceTest/UserServiceTest.java
Labels: backend, cambia-codigo-autogenerado

#17 Corrige acentos en campos de DTOs
  api-docs.yml
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/PerfilUsuarioDto.java
  frontend/src/generated/openapi/model/perfilUsuario.ts
Labels: frontend, backend, cambia-codigo-autogenerado

#18 Cambia tipo de ID
  api-docs.yml
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/UserController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/api/UsuariosApi.java
  frontend/src/generated/openapi/api/default.service.ts
Labels: frontend, backend, cambia-codigo-autogenerado

#16 Hu 04 backend
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/Application.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/config/Config.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/UserController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/advice/RestExceptionHandler.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/entity/User.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/BadRequestException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/EmailUserNotVerificationException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/InvalidIdException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/InvalidPhotoException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/api/UsuariosApi.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/UserMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/repository/UserRepository.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/UserService.java
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/serviceTest/UserServiceTest.java
Labels: backend, cambia-codigo-autogenerado

#20 Hu 01
  backend/build.gradle.kts
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/UserController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/advice/RestExceptionHandler.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/EmailAlreadyExistsException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/InvalidEmailFormatException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/InvalidUserException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/UserNotFoundException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/UserMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/repository/UserRepository.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/UserService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/service/UserServiceTest.java
Labels: backend

#22 Hu 04
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/Application.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/UserMapper.java
  frontend/angular.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/features/perfil/pages/perfil.component.html
  frontend/src/app/features/perfil/pages/perfil.component.sass
  frontend/src/app/features/perfil/pages/perfil.component.spec.ts
  frontend/src/app/features/perfil/pages/perfil.component.ts
  frontend/src/app/shared/components/nav-bar/nav-bar.component.html
  frontend/src/app/shared/config/LibreryConfig.ts
  frontend/src/app/shared/shared.component.html
  frontend/src/app/shared/shared.component.sass
  frontend/src/app/shared/shared.component.spec.ts
  frontend/src/app/shared/shared.component.ts
Labels: frontend, backend

#23 Inicio de sesión
  .gitignore
  backend/build.gradle.kts
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/config/SecurityConfig.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/LoginController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/advice/RestExceptionHandler.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/InvalidUserSessionException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/api/UsuariosApi.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/repository/UserRepository.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/UserService.java
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/controller/LoginControllerTest.java
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/repository/UserTest.java
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/service/UserServiceTest.java
Labels: backend, cambia-codigo-autogenerado

#24 Nuevos atributos en la entidad User
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/entity/User.java
Labels: backend

#25 Hu 07 backend
  backend/build.gradle.kts
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/UserController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/entity/Exchange.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/enums/Status.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/ExchangeMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/UserService.java
  backend/src/main/kotlin/io/github/projektalmanac/amoxtli/backend/service/UserServiceKt.kt
Labels: backend

#29 Actuliaza pipeine de integración continua
  .github/workflows/release.yml
  backend/Dockerfile
  backend/build.gradle.kts
Labels: backend

#26 Implementar HU-05-Front
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/features/libros/components/duenos/duenos.component.html
  frontend/src/app/features/libros/components/duenos/duenos.component.sass
  frontend/src/app/features/libros/components/duenos/duenos.component.spec.ts
  frontend/src/app/features/libros/components/duenos/duenos.component.ts
  frontend/src/app/features/libros/components/involucrados/involucrados.component.html
  frontend/src/app/features/libros/components/involucrados/involucrados.component.sass
  frontend/src/app/features/libros/components/involucrados/involucrados.component.spec.ts
  frontend/src/app/features/libros/components/involucrados/involucrados.component.ts
  frontend/src/app/features/libros/components/libro/libro.component.html
  frontend/src/app/features/libros/components/libro/libro.component.sass
  frontend/src/app/features/libros/components/libro/libro.component.spec.ts
  frontend/src/app/features/libros/components/libro/libro.component.ts
  frontend/src/app/features/libros/libro.module.ts
  frontend/src/app/features/libros/pages/libro-page/libro-page.component.html
  frontend/src/app/features/libros/pages/libro-page/libro-page.component.sass
  frontend/src/app/features/libros/pages/libro-page/libro-page.component.spec.ts
  frontend/src/app/features/libros/pages/libro-page/libro-page.component.ts
  frontend/src/app/shared/components/nav-bar/nav-bar.component.html
Labels: frontend

#32 Implementar Inicio Sesión HU-03
  api-docs.yml
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/services/servicio-usuario.service.ts
  frontend/src/app/features/login/components/login-form/login-form.component.html
  frontend/src/app/features/login/components/login-form/login-form.component.sass
  frontend/src/app/features/login/components/login-form/login-form.component.spec.ts
  frontend/src/app/features/login/components/login-form/login-form.component.ts
  frontend/src/app/features/login/login.module.ts
  frontend/src/app/features/login/pages/login-page/login-page.component.html
  frontend/src/app/features/login/pages/login-page/login-page.component.sass
  frontend/src/app/features/login/pages/login-page/login-page.component.spec.ts
  frontend/src/app/features/login/pages/login-page/login-page.component.ts
  frontend/src/generated/openapi/api/default.service.ts
Labels: frontend, cambia-codigo-autogenerado

#27 Hu 05
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/Application.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/UserController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/advice/RestExceptionHandler.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/entity/User.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/BadRequestException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/BookNotFoundException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/NoBooksRegisteredException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/SelfExchangeException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/UnregisteredPhoneNumberException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/BookMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/ExchangeMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/UserService.java
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/service/UserServiceTest.java
Labels: backend

#35 Hu 07 frontend
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/features/exchange/components/book-dialog/book-dialog.component.html
  frontend/src/app/features/exchange/components/book-dialog/book-dialog.component.sass
  frontend/src/app/features/exchange/components/book-dialog/book-dialog.component.spec.ts
  frontend/src/app/features/exchange/components/book-dialog/book-dialog.component.ts
  frontend/src/app/features/exchange/components/book-list-dialog/book-list-dialog.component.html
  frontend/src/app/features/exchange/components/book-list-dialog/book-list-dialog.component.sass
  frontend/src/app/features/exchange/components/book-list-dialog/book-list-dialog.component.spec.ts
  frontend/src/app/features/exchange/components/book-list-dialog/book-list-dialog.component.ts
  frontend/src/app/features/exchange/components/book-list/book-list.component.html
  frontend/src/app/features/exchange/components/book-list/book-list.component.sass
  frontend/src/app/features/exchange/components/book-list/book-list.component.spec.ts
  frontend/src/app/features/exchange/components/book-list/book-list.component.ts
  frontend/src/app/features/exchange/components/exchange-card/exchange-card.component.html
  frontend/src/app/features/exchange/components/exchange-card/exchange-card.component.sass
  frontend/src/app/features/exchange/components/exchange-card/exchange-card.component.spec.ts
  frontend/src/app/features/exchange/components/exchange-card/exchange-card.component.ts
  frontend/src/app/features/exchange/exchange.module.ts
  frontend/src/app/features/exchange/pages/exchanges-page/exchanges-page.component.html
  frontend/src/app/features/exchange/pages/exchanges-page/exchanges-page.component.sass
  frontend/src/app/features/exchange/pages/exchanges-page/exchanges-page.component.spec.ts
  frontend/src/app/features/exchange/pages/exchanges-page/exchanges-page.component.ts
  frontend/src/app/features/libros/libro.module.ts
  frontend/src/app/shared/components/nav-bar/nav-bar.component.html
  frontend/src/app/shared/components/nav-bar/nav-bar.component.sass
Labels: frontend

#33 Hu 07 backend
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/Application.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/UserController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/advice/RestExceptionHandler.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/entity/User.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/IntercambioNotFoundException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/BookMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/ExchangeMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/repository/BookRepository.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/repository/ExchangeRepository.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/BookService.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/UserService.java
  backend/src/main/kotlin/io/github/projektalmanac/amoxtli/backend/service/UserServiceKt.kt
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/service/BookServiceTest.java
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/service/UserServiceTest.java
Labels: backend

#31 Hu 06 back
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/BookController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/entity/User.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/DuenoDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/BookMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/UserMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/repository/BookRepository.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/repository/UserRepository.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/BookService.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/UserService.java
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/service/UserServiceTest.java
Labels: backend, cambia-codigo-autogenerado

#38 Hu 08 frontend
  api-docs.yml
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/UserController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/api/IniciarSesionApi.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/api/UsuariosApi.java
  backend/src/main/kotlin/io/github/projektalmanac/amoxtli/backend/service/UserServiceKt.kt
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/service/UserServiceTest.java
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/features/exchange/components/qr-code-dialog/qr-code-dialog.component.html
  frontend/src/app/features/exchange/components/qr-code-dialog/qr-code-dialog.component.sass
  frontend/src/app/features/exchange/components/qr-code-dialog/qr-code-dialog.component.spec.ts
  frontend/src/app/features/exchange/components/qr-code-dialog/qr-code-dialog.component.ts
  frontend/src/app/features/exchange/components/qr-code-scanner-dialog/qr-code-scanner-dialog.component.html
  frontend/src/app/features/exchange/components/qr-code-scanner-dialog/qr-code-scanner-dialog.component.sass
  frontend/src/app/features/exchange/components/qr-code-scanner-dialog/qr-code-scanner-dialog.component.spec.ts
  frontend/src/app/features/exchange/components/qr-code-scanner-dialog/qr-code-scanner-dialog.component.ts
  frontend/src/app/features/exchange/exchange.module.ts
  frontend/src/app/features/exchange/pages/exchanges-page/exchanges-page.component.html
  frontend/src/app/features/exchange/pages/exchanges-page/exchanges-page.component.ts
  frontend/src/generated/openapi/api/default.service.ts
Labels: frontend, backend, cambia-codigo-autogenerado

#39 Hu 06 front
  frontend/src/app/features/catalogo-usuario/pages/home-page/home-page.component.html
  frontend/src/app/features/catalogo-usuario/pages/home-page/home-page.component.sass
  frontend/src/app/features/catalogo-usuario/pages/home-page/home-page.component.spec.ts
  frontend/src/app/features/catalogo-usuario/pages/home-page/home-page.component.ts
  frontend/src/app/features/perfil/pages/perfil.component.html
  frontend/src/app/features/perfil/pages/perfil.component.sass
Labels: frontend

#40 Correcciones
  api-docs.yml
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/Application.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/config/SecurityConfig.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/BookController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/UserController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/advice/RestExceptionHandler.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/entity/Book.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/entity/User.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/enums/Status.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/GoogleBooksException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/InvalidUserSessionException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/api/UsuariosApi.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/DuenoDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/BookMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/ExchangeMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/UserMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/repository/BookRepository.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/BookService.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/UserService.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/consume/GoogleBookService.java
  backend/src/main/kotlin/io/github/projektalmanac/amoxtli/backend/service/SecurityService.kt
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/service/BookServiceTest.java
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/service/SecurityServiceTest.java
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/service/UserServiceTest.java
  frontend/angular.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/services/servicio-usuario.service.ts
  frontend/src/app/features/catalogo-usuario/pages/home-page/home-page.component.html
  frontend/src/app/features/catalogo-usuario/pages/home-page/home-page.component.sass
  frontend/src/app/features/exchange/pages/exchanges-page/exchanges-page.component.ts
  frontend/src/app/features/libros/pages/libro-page/libro-page.component.ts
  frontend/src/app/features/login/pages/login-page/login-page.component.ts
  frontend/src/app/features/sign-up/pages/sign-up-page/sign-up-page.component.ts
  frontend/src/app/features/sign-up/pages/verify-email-page/verify-email-page.component.ts
  frontend/src/app/shared/components/authenticated/authenticated.component.html
  frontend/src/app/shared/components/authenticated/authenticated.component.sass
  frontend/src/app/shared/components/authenticated/authenticated.component.spec.ts
  frontend/src/app/shared/components/authenticated/authenticated.component.ts
  frontend/src/app/shared/components/nav-bar/nav-bar.component.html
  frontend/src/app/shared/components/nav-bar/nav-bar.component.sass
  frontend/src/app/shared/components/nav-bar/nav-bar.component.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/favicon.ico
  frontend/src/generated/openapi/api/default.service.ts
  frontend/src/generated/openapi/model/dueno.ts
  frontend/src/index.html
Labels: frontend, backend, cambia-codigo-autogenerado

#41 HU8
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/UserController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/advice/RestExceptionHandler.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/enums/Status.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/ExchangeErrorProcess.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/EstadoIntercambioDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/ExchangeMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/ExchangeService.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/UserService.java
  backend/src/test/java/io/github/projektalmanac/amoxtli/backend/service/HU8Test.java
Labels: backend, cambia-codigo-autogenerado
