Repository ProjektAlmanac/Amoxtli, pull requests merged in 2023-09, with the labels that each got.

#5 Implementa funcionalidad de [HU-01]
  frontend/.lintstagedrc.json
  frontend/.vscode/settings.json
  frontend/angular.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/core/services/servicio-usuario.service.spec.ts
  frontend/src/app/core/services/servicio-usuario.service.ts
  frontend/src/app/features/sign-up/components/sign-up-form/sign-up-form.component.html
  frontend/src/app/features/sign-up/components/sign-up-form/sign-up-form.component.sass
  frontend/src/app/features/sign-up/components/sign-up-form/sign-up-form.component.spec.ts
  frontend/src/app/features/sign-up/components/sign-up-form/sign-up-form.component.ts
  frontend/src/app/features/sign-up/components/verify-email-form/verify-email-form.component.html
  frontend/src/app/features/sign-up/components/verify-email-form/verify-email-form.component.sass
  frontend/src/app/features/sign-up/components/verify-email-form/verify-email-form.component.spec.ts
  frontend/src/app/features/sign-up/components/verify-email-form/verify-email-form.component.ts
  frontend/src/app/features/sign-up/pages/sign-up-page/sign-up-page.component.html
  frontend/src/app/features/sign-up/pages/sign-up-page/sign-up-page.component.sass
  frontend/src/app/features/sign-up/pages/sign-up-page/sign-up-page.component.spec.ts
  frontend/src/app/features/sign-up/pages/sign-up-page/sign-up-page.component.ts
  frontend/src/app/features/sign-up/pages/verify-email-page/verify-email-page.component.html
  frontend/src/app/features/sign-up/pages/verify-email-page/verify-email-page.component.sass
  frontend/src/app/features/sign-up/pages/verify-email-page/verify-email-page.component.spec.ts
  frontend/src/app/features/sign-up/pages/verify-email-page/verify-email-page.component.ts
  frontend/src/app/features/sign-up/pages/welcome-page/welcome-page.component.html
  frontend/src/app/features/sign-up/pages/welcome-page/welcome-page.component.sass
  frontend/src/app/features/sign-up/pages/welcome-page/welcome-page.component.spec.ts
  frontend/src/app/features/sign-up/pages/welcome-page/welcome-page.component.ts
  frontend/src/app/features/sign-up/sign-up.module.ts
  frontend/src/styles.sass
  frontend/src/styles/breakpoints.sass
Labels: frontend

#6 Crear Navbar
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/shared/components/nav-bar/nav-bar.component.html
  frontend/src/app/shared/components/nav-bar/nav-bar.component.sass
  frontend/src/app/shared/components/nav-bar/nav-bar.component.spec.ts
  frontend/src/app/shared/components/nav-bar/nav-bar.component.ts
  frontend/src/app/shared/shared.module.ts
Labels: frontend

#8 Cambios contrato
  api-docs.yml
  backend/build.gradle.kts
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/api/IniciarSesionApi.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/api/LibrosApi.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/api/UsuariosApi.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/AceptanteDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/AceptarIntercambioRequestDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/CodigoIntercambioDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/CodigoVerificacionDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/CreacionIntercambioDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/CredencialesDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/DetallesLibroDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/DuenoDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/ErrorDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/EstadoIntercambioDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/GetIntercambios200ResponseDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/InfoBasicaLibroDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/IntercambioDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/JSONPatchRequestAddReplaceTestDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/JSONPatchRequestMoveCopyDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/JSONPatchRequestRemoveDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/LibroAceptanteDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/LibroConDuenosDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/LibroRegistradoConDetallesDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/LibroRegistradoDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/LibrosUsuarioDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/ListaIntercambiosDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/OfertanteDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/PaginaLibrosDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/PatchRequestInnerDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/PerfilUsuarioDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/SessionTokenDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/UsuarioDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/UsuarioIdDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/UsuarioIntercambioDto.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/generated/model/ValidaPuedeIntercambiar200ResponseDto.java
  frontend/src/generated/openapi/api/default.service.ts
Labels: frontend, backend, cambia-codigo-autogenerado

#9 Cambio contrato
  backend/build.gradle.kts
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/config/SecurityConfig.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/BookController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/LoginController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/UserController.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/controller/advice/RestExceptionHandler.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/entity/Book.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/entity/Exchange.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/entity/User.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/enums/Status.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/exception/UserNotFoundException.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/BookMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/ExchangeMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/mapper/UserMapper.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/repository/BookRepository.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/repository/ExchangeRepository.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/repository/UserRepository.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/BookService.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/ExchangeService.java
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/service/UserService.java
Labels: backend

#11 Añade soporte para Kotlin
  backend/build.gradle.kts
Labels: backend

#10 Añade archivos de backend
  backend/src/main/java/io/github/projektalmanac/amoxtli/backend/config/SecurityConfig.java
Labels: backend
